<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <omnisend_config>
            <general>
                <base_url>https://api.omnisend.com/v3</base_url>
                <is_cron_synchronization_enabled>1</is_cron_synchronization_enabled>
                <is_real_time_synchronization_enabled>1</is_real_time_synchronization_enabled>
                <maximum_entities_per_cron>100</maximum_entities_per_cron>
                <omnisend_url>https://app.omnisend.com</omnisend_url>
                <instructions_url>https://support.omnisend.com/8-integrations/connecting-magento-2-store-to-omnisend-account</instructions_url>
                <is_verified>0</is_verified>
            </general>
        </omnisend_config>
        <update_quotes>
            <cron>
                <expr>*/2 * * * *</expr>
                <delta>5 minutes</delta>
            </cron>
        </update_quotes>
        <update_orders>
            <cron>
                <expr>*/2 * * * *</expr>
            </cron>
        </update_orders>
        <update_customers>
            <cron>
                <expr>*/2 * * * *</expr>
            </cron>
        </update_customers>
        <update_products>
            <cron>
                <expr>*/2 * * * *</expr>
            </cron>
        </update_products>
        <update_categories>
            <cron>
                <expr>*/2 * * * *</expr>
            </cron>
        </update_categories>
        <update_guest_subscribers>
            <cron>
                <expr>*/2 * * * *</expr>
            </cron>
        </update_guest_subscribers>
    </default>
</config>
