<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omnisend\Omnisend\Api\OmnisendContactRepositoryInterface" type="Omnisend\Omnisend\Model\OmnisendContactRepository"/>
    <preference for="Omnisend\Omnisend\Api\OmnisendGuestSubscriberRepositoryInterface" type="Omnisend\Omnisend\Model\OmnisendGuestSubscriberRepository"/>
    <preference for="Omnisend\Omnisend\Api\OmnisendOrderStatusRepositoryInterface" type="Omnisend\Omnisend\Model\OmnisendOrderStatusRepository"/>
    <preference for="Omnisend\Omnisend\Api\OmnisendRateLimitRepositoryInterface" type="Omnisend\Omnisend\Model\OmnisendRateLimitRepository"/>
    <preference for="Omnisend\Omnisend\Api\Data\OmnisendContactInterface" type="Omnisend\Omnisend\Model\OmnisendContact"/>
    <preference for="Omnisend\Omnisend\Api\Data\OmnisendGuestSubscriberInterface" type="Omnisend\Omnisend\Model\OmnisendGuestSubscriber"/>
    <preference for="Omnisend\Omnisend\Api\Data\OmnisendOrderStatusInterface" type="Omnisend\Omnisend\Model\OmnisendOrderStatus"/>
    <preference for="Omnisend\Omnisend\Api\Data\OmnisendRateLimitInterface" type="Omnisend\Omnisend\Model\OmnisendRateLimit"/>
    <preference for="Omnisend\Omnisend\Model\RequestDataBuilderInterface" type="Omnisend\Omnisend\Model\RequestDataBuilder"/>
    <preference for="Omnisend\Omnisend\Model\RequestDataInterface" type="Omnisend\Omnisend\Model\RequestData"/>
    <preference for="Omnisend\Omnisend\Model\RequestHeaderBuilderInterface" type="Omnisend\Omnisend\Model\RequestHeaderBuilder"/>
    <preference for="Omnisend\Omnisend\Model\RequestServiceInterface" type="Omnisend\Omnisend\Model\RequestService"/>
    <preference for="Omnisend\Omnisend\Model\RequestUrlBuilderInterface" type="Omnisend\Omnisend\Model\RequestUrlBuilder"/>
    <preference for="Omnisend\Omnisend\Model\ResponseInterface" type="Omnisend\Omnisend\Model\Response"/>
    <preference for="Omnisend\Omnisend\Model\ResponseRateManagerInterface" type="Omnisend\Omnisend\Model\ResponseRateManager"/>
    <preference for="Omnisend\Omnisend\Model\SubscriptionStatusManagerInterface" type="Omnisend\Omnisend\Model\SubscriptionStatusManager"/>
    <preference for="Omnisend\Omnisend\Model\CustomerEmailChangeHandlerInterface" type="Omnisend\Omnisend\Model\CustomerEmailChangeHandler"/>
    <preference for="Omnisend\Omnisend\Model\OmnisendContactProviderInterface" type="Omnisend\Omnisend\Model\OmnisendContactProvider"/>
    <preference for="Omnisend\Omnisend\Model\UnsubscriptionServiceInterface" type="Omnisend\Omnisend\Model\UnsubscriptionService"/>
    <preference for="Omnisend\Omnisend\Model\Validator\ValidatorInterface" type="Omnisend\Omnisend\Model\Validator\QuoteRecoveryDataValidator"/>
    <preference for="Omnisend\Omnisend\Model\SubscriptionProviderInterface" type="Omnisend\Omnisend\Model\CustomerSubscriptionProvider"/>
    <preference for="Omnisend\Omnisend\Api\Data\OmnisendRequestInterface" type="Omnisend\Omnisend\Model\OmnisendRequest"/>
    <preference for="Omnisend\Omnisend\Api\OmnisendRequestRepositoryInterface" type="Omnisend\Omnisend\Model\OmnisendRequestRepository"/>
    <preference for="Omnisend\Omnisend\Api\Data\OmnisendRequestSearchResultsInterface" type="Omnisend\Omnisend\Model\OmnisendRequestSearchResults"/>
    <virtualType name="orderStatusGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="orderStatusGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Omnisend\Omnisend\Model\Resource\OmnisendOrderStatus\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">orderStatusGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Omnisend\Omnisend\Model\ResourceModel\OmnisendOrderStatus\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order_status_omnisend</argument>
            <argument name="eventPrefix" xsi:type="string">sales_order_status_omnisend_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Omnisend\Omnisend\Model\ResourceModel\OmnisendOrderStatus</argument>
        </arguments>
    </virtualType>
    <virtualType name="Omnisend\Omnisend\Model\ResourceModel\OmnisendRequest\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">omnisend_request</argument>
            <argument name="eventPrefix" xsi:type="string">omnisend_request_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Omnisend\Omnisend\Model\ResourceModel\OmnisendRequest</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="omnisend_orderstatus_listing_data_source" xsi:type="string">Omnisend\Omnisend\Model\ResourceModel\OmnisendOrderStatus\Grid\Collection</item>
                <item name="omnisend_omnisendrequest_listing_data_source" xsi:type="string">Omnisend\Omnisend\Model\ResourceModel\OmnisendRequest\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Helper\ProductUrlHelper">
        <arguments>
            <argument name="frontendUrl" xsi:type="object" shared="false">Magento\Framework\Url</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Cron\UpdateCustomers">
        <arguments>
            <argument name="entitySearchCriteria" xsi:type="object">Omnisend\Omnisend\Helper\SearchCriteria\Entity</argument>
            <argument name="customerAttributeUpdater" xsi:type="object">Omnisend\Omnisend\Model\Attribute\IsImported\CustomerAttributeUpdater</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Cron\UpdateOrders">
        <arguments>
            <argument name="entitySearchCriteria" xsi:type="object">Omnisend\Omnisend\Helper\SearchCriteria\Entity</argument>
            <argument name="orderAttributeUpdater" xsi:type="object">Omnisend\Omnisend\Model\Attribute\IsImported\OrderAttributeUpdater</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Cron\UpdateQuotes">
        <arguments>
            <argument name="quoteSearchCriteria" xsi:type="object">Omnisend\Omnisend\Helper\SearchCriteria\Quote</argument>
            <argument name="quoteAttributeUpdater" xsi:type="object">Omnisend\Omnisend\Model\Attribute\IsImported\QuoteAttributeUpdater</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Cron\UpdateGuestSubscribers">
        <arguments>
            <argument name="subscriberAttributeUpdater" xsi:type="object">Omnisend\Omnisend\Model\Attribute\IsImported\SubscriberAttributeUpdater</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\Api\Request\Account">
        <arguments>
            <argument name="accountBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\AccountFactory</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\Api\Request\Cart">
        <arguments>
            <argument name="cartBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\CartFactory</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\Api\Request\CartItem">
        <arguments>
            <argument name="cartItemBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\CartItemFactory</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\Api\Request\Contact">
        <arguments>
            <argument name="contactBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\ContactFactory</argument>
        </arguments>
    </type>
    <virtualType name="Omnisend\Omnisend\Model\Api\Request\GuestContact" type="Omnisend\Omnisend\Model\Api\Request\Contact">
        <arguments>
            <argument name="contactBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\GuestContactFactory</argument>
        </arguments>
    </virtualType>
    <type name="Omnisend\Omnisend\Model\Api\Request\Order">
        <arguments>
            <argument name="orderBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\OrderFactory</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\Api\Request\Product">
        <arguments>
            <argument name="productBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\ProductFactory</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\Api\Request\Category">
        <arguments>
            <argument name="categoryBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\CategoryFactory</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\Api\Request\Subscriber">
        <arguments>
            <argument name="subscriberBodyBuilderFactory" xsi:type="object">Omnisend\Omnisend\Model\RequestBodyBuilder\SubscriberFactory</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Account">
        <arguments>
            <argument name="accountRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Account</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Cart">
        <arguments>
            <argument name="cartRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Cart</argument>
            <argument name="cartItemRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\CartItem</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Category">
        <arguments>
            <argument name="categoryRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Category</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Customer">
        <arguments>
            <argument name="customerRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Contact</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Guest">
        <arguments>
            <argument name="guestContactRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\GuestContact</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Order">
        <arguments>
            <argument name="orderRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Order</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Product">
        <arguments>
            <argument name="productRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Product</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Quote">
        <arguments>
            <argument name="quoteRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Cart</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\EntityDataSender\Subscriber">
        <arguments>
            <argument name="subscriberRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Subscriber</argument>
        </arguments>
    </type>
    <type name="Omnisend\Omnisend\Model\UnsubscriptionService">
        <arguments>
            <argument name="subscriberRequest" xsi:type="object">Omnisend\Omnisend\Model\Api\Request\Subscriber</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="reset_customer_import_flags" xsi:type="object">Omnisend\Omnisend\Console\Command\ResetCustomerImportFlags</item>
                <item name="reset_subscriber_import_flags" xsi:type="object">Omnisend\Omnisend\Console\Command\ResetSubscriberImportFlags</item>
                <item name="reset_order_import_flags" xsi:type="object">Omnisend\Omnisend\Console\Command\ResetOrderImportFlags</item>
                <item name="reset_quote_import_flags" xsi:type="object">Omnisend\Omnisend\Console\Command\ResetQuoteImportFlags</item>
                <item name="reset_product_import_flags" xsi:type="object">Omnisend\Omnisend\Console\Command\ResetProductImportFlags</item>
                <item name="reset_category_import_flags" xsi:type="object">Omnisend\Omnisend\Console\Command\ResetCategoryImportFlags</item>
                <item name="clear_customer_omnisend_table" xsi:type="object">Omnisend\Omnisend\Console\Command\ClearCustomerOmnisendTable</item>
                <item name="clear_guest_subscriber_omnisend_table" xsi:type="object">Omnisend\Omnisend\Console\Command\ClearSubscriberOmnisendTable</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="loginPostPlugin" type="Omnisend\Omnisend\Plugin\LoginPostPlugin" sortOrder="1" />
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrfValidatorPlugin" type="Omnisend\Omnisend\Plugin\CsrfValidatorPlugin" />
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="configSavePlugin" type="Omnisend\Omnisend\Plugin\Config\SaveConfig"/>
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="accountLoginPostPlugin" type="Omnisend\Omnisend\Plugin\AccountLoginPostPlugin"/>
    </type>
    <type name="Magento\Customer\Controller\Ajax\Login">
        <plugin name="ajaxLoginPlugin" type="Omnisend\Omnisend\Plugin\AjaxLoginPlugin"/>
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="accountManagementPlugin" type="Omnisend\Omnisend\Plugin\AccountManagementPlugin"/>
    </type>
</config>
