<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="orderUpdateObserver" instance="Omnisend\Omnisend\Observer\OrderUpdateObserver" />
    </event>
    <event name="catalog_product_save_before">
        <observer name="productUpdateObserverBefore" instance="Omnisend\Omnisend\Observer\ProductUpdateObserverBefore" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="productUpdateObserverAfter" instance="Omnisend\Omnisend\Observer\ProductUpdateObserverAfter" />
    </event>
    <event name="customer_save_after">
        <observer name="customerUpdateObserver" instance="Omnisend\Omnisend\Observer\CustomerUpdateObserver" />
    </event>
    <event name="customer_address_save_after">
        <observer name="customerUpdateObserver" instance="Omnisend\Omnisend\Observer\CustomerUpdateObserver" />
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="guestSubscriberUpdateObserver" instance="Omnisend\Omnisend\Observer\GuestSubscriberUpdateObserver" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="productDeleteObserver" instance="Omnisend\Omnisend\Observer\ProductDeleteObserver" />
    </event>
    <event name="customer_delete_after">
        <observer name="customerDeleteObserver" instance="Omnisend\Omnisend\Observer\CustomerDeleteObserver" />
    </event>
    <event name="newsletter_subscriber_delete_after">
        <observer name="guestSubscriberDeleteObserver" instance="Omnisend\Omnisend\Observer\GuestSubscriberDeleteObserver" />
    </event>
</config>
