<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_address_save_after">
        <observer name="quoteUpdateObserver" instance="Omnisend\Omnisend\Observer\OrderUpdateObserver" />
    </event>
    <event name="admin_system_config_save">
        <observer name="systemConfigSaveObserver" instance="Omnisend\Omnisend\Observer\SystemConfigSaveObserver" />
    </event>
    <event name="catalog_category_save_after">
        <observer name="categorySaveAfterObserver" instance="Omnisend\Omnisend\Observer\CategoryUpdateObserverAfter"/>
    </event>
    <event name="catalog_category_delete_after">
        <observer name="categoryDeleteAfterObserver" instance="Omnisend\Omnisend\Observer\CategoryDeleteObserver"/>
    </event>
</config>
